h1{
  color:grey;
  font-family: fantasy;
}

.info {
  color:grey;
  font-family: fantasy;
  font-size: 12px
}

div{
  width:600px;
  height:600px;
  background-color: #436396;
}

li{
  display: inline-block;
}
