<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ninja</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div>
      <h1>All you will ever need to know about ninjas</h1>

      <p class="info">Ninjas are generally pretty tough, although they are  <br>
      used as disposable bad guys in Chuck Norris movies. <br>
      Ninjas have mothers and fathers just like the rest of us. Mother jokes <br>
      are a good way to make a ninja mad and get your butt kicked </p>
    </div>

  </body>
</html>
